* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  user-select: none;
  /* border: solid 1px red; */
}

:root {
  --HeaderFisrt: #010c52;
  --LogoColor: #0e007c;
  --textHeader: #626262;
  --branco: #fff;
}

.loading {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
}

.loading label {
  font-size: 24px;
}

.fixo {
  border-bottom: 2px solid #dddddd;
}

/* * {
  scrollbar-width: thin;
  scrollbar-color: #000 #fff;

}

*::-webkit-scrollbar {
  width: 9px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 20px;
  border: 2px solid #fff;
} */
.alertCordenada{
  z-index: 10;
  display: none;
}
.info {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 320px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  background: #f85050;
  border-radius: 8px;
  box-shadow: 0px 0px 5px -3px #111;
  position: fixed;
  bottom: 40px;
  left: 10px;
  z-index: 10;
}
.info:hover{
  background-color: #ec2d2d;
}

.info__icon {
  width: 20px;
  height: 20px;
  transform: translateY(-2px);
  margin-right: 8px;
}

.info__icon path {
  fill: #fff;
}

.info__title {
  font-weight: 500;
  font-size: 14px;
  color: #fff;
}

.info__close {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: auto;
}

.info__close path {
  fill: #fff;
}

.topo {
  z-index: 10;
}

.topo a {
  z-index: 10;
  width: 50px;
  height: 50px;
  background-color: #277cae;
  position: fixed;
  bottom: 40px;
  right: 40px;
  align-items: center;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.topoWhatsapp a {
  width: 50px;
  height: 50px;
  background-color: #27ae60;
  position: fixed;
  bottom: 120px;
  right: 40px;
  align-items: center;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.irParaInicio i {
  color: #fff;
  font-size: 30px;
}


/* fonte padrao */
.FonteMain div {
  width: 240px;
  height: 6px;
  /* padding: 6px 240px; */
  background-color: #ff0000;
}

.FonteMain h2 {
  font-size: 44px;
  font-weight: 600;
  color: #0E007C;
}

.FonteMain h1 {
  font-size: 44px;
  font-weight: 600;
  color: #0E007C;
  width: 600px;
}

.FonteMain1 div {
  width: 240px;
  height: 6px;
  /* padding: 6px 240px; */
  background-color: #ff0000;
}

.FonteMain1 h2 {
  font-size: 44px;
  font-weight: 600;
  color: #0E007C;
}

.FonteMain1 h1 {
  font-size: 30px;
  font-weight: 600;
  color: #0E007C;
}

.FonteMain1 {
  display: none;
  align-items: center;
  flex-direction: column;
}



/* <div class="FonteMain">
      <h2>Nossas Lojas</h2>
      <div></div>
    </div> */


/* Telas maiores que 1280px*/
.container {
  margin: 0 auto;
  width: 1180px;
  max-width: 100%;
  max-height: 100%;
}

body {
  height: 100%;
  width: 100%;
}

/* Tela de Header Onde aparece as informações de contato*/
.header {
  background-color: var(--HeaderFisrt);
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
}

.contacts,
.SocialMedia {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}

.headerFirst {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.headerFirst p,
i,
a {
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  font-weight: normal;
}

.headerFirst a {
  display: flex;
  gap: 8px;
}

.headerFirst i {
  font-size: 20px;
}

.headerFirst>.SocialMedia i {
  font-size: 26px;
}

/*Header*/
.headerMobile {
  display: none;
}

.headerMain {
  width: 100%;
  height: 144px;
  background-color: var(--branco);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.HeaderMainInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.mobileMenuIcon {
  display: none;
}

.mobileMenu a {
  display: none;
}

.LogoNorteAzul {
  width: 308px;
  height: 119px;
}

.HeaderMainInfo,
.menuHeader a {
  color: var(--textHeader);
  gap: 24px;
}

.HeaderMainInfo,
.menuHeaderMain a {
  color: var(--textHeader);
  gap: 24px;
}


/*NAV*/

.menuHeader a {
  padding: 0 24px;
  font-weight: 600;
}

.menuHeaderMain a {
  padding: 0 24px 24px;
  font-weight: 600;
}

.menuHeader a:hover {
  border-bottom: 2px solid #00041F;
  color: #090054;
  ;
}

.menuHeaderMain a:hover {
  border-bottom: 2px solid #00041F;
  color: #090054;
  ;
}

/*Footer*/
footer {
  background-color: #010c52;
}

.footerMain {
  background-color: #010c52;
  margin: 80px 0 0 0;
  height: 100%;
  display: flex;
  justify-content: space-between;
}


.footerMain img {
  width: 300px;
  margin: 80px 0 0 0;
}

.footerMain p {
  width: 500px;
  margin: 40px 0 0 0;
  color: #fff;
}

.menuFooter nav {
  display: flex;
  flex-direction: column;
  margin: 80px 0 0 0;
}

.menuFooter nav a {
  color: #C3C3C3;
  padding: 36px 0 0 0;
  font-size: 16px;
}

.menuFooter nav a:hover {
  color: #fff;
}

.menuFooter nav h1 {
  color: #fff;
}

.contactsFooter nav {
  display: flex;
  flex-direction: column;
  margin: 80px 0 0 0;
}

.contactsFooter span {
  color: #C3C3C3;
}

.contactsFooter span:hover {
  color: #fff;
}

.contactsFooter nav a {
  color: #C3C3C3;
  padding: 36px 0 0 0;
  font-size: 16px;
}

.contactsFooter nav h1,
.contactsFooter nav h2 {
  color: #fff;
  font-size: 20px;
}

.contactsFooter nav h2 {
  margin: 35px 0 0 0;
}

.SocialMediaFooter i {
  font-size: 40px;
  padding: 25px 25px 0 0;
}

.SocialMediaFooter i:hover {
  color: #e2e2e2;
}

.diretosReservadosFooter {
  background-color: #000212;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin: 80px 0 0 0;
}

/* Nossas Lojas */

.NossasLojas {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 0 0 0;
  align-items: center;

}

.NossasLojas img {
  width: 600px;
  margin: 125px 0 180px 0;
}

.LojasSecao{
  background-image: url(public/img/Fornecedores/FundoSobreNos.svg);
  background-repeat: repeat;
  background-position: top;
}

.NossasLojasAbout {
  margin: 0 0 0 50px;
}

.NossasLojasAbout h2 {
  font-size: 44px;
  font-weight: 600;
  color: #0E007C;

}

.NossasLojasAbout p {
  margin: 60px 0;
  font-size: 20px;
}

.NossasLojasAbout a {
  width: 325px;
  background-color: #031586;
  padding: 13px 60px;
  border-radius: 10px;
}

.NossasLojasAbout a:hover {
  background-color: #090054;
}

.fornecedoresCampo {
  background-image: url(public/img/Fornecedores/FundoFornecedores.svg);
  background-color: #cccccc;
  width: 100%;
  height: 500px;
  margin: 0 0 80px 0;
}

.mvv {
  background-image: url(public/img/Fornecedores/FundoMVV.svg);
  background-color: #031586;
  width: 100%;
  height: 500px;
  margin: 0 0 80px 0;
  display: flex;
  align-items: center;
}

.titleFornecedores {
  margin: 0 0 50px 0;
}

/* .LojasSecao{
  background-image: url(public/img/Fornecedores/FundoSobreNos.svg);
  background-position: center;
  height: 100%;
} */
/* Sobre nos*/

.sobre div {
  width: 200px;
}

.campoSobreNos {
  display: flex;
  justify-content: space-between;
  margin: 40px 0 80px 0;
}

.campoSobreNosText p {
  width: 600px;
  font-size: 18px;
  margin: 0 0 22px 0;
  font-weight: 500;
}

.campoSobreNosText a {
  width: 325px;
  background-color: #031586;
  padding: 13px 60px;
  border-radius: 10px;
  margin: 30px 0 0 0;
}

.campoSobreNosText a:hover {
  background-color: #090054;
}

/*Novidades*/
.cardMvv {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.cardMvv img {
  width: 144px;
}

.cardMvv p {
  width: 300px;
  text-align: center;
}

.cardMvv h2 {
  font-size: 36px;
  text-align: center;
}

.visao img {
  width: 180px;
  margin: 20px 0 20px 0;
}

.mvvCampo {
  display: flex;
  justify-content: space-between;
  color: #fff;
  align-items: center;

}

.noticias {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 80px 0 40px 0;
  align-self: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 4px;
  height: 100%;
  margin: 0 0 0 20px;
  align-items: flex-start;
}

.card_link{
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #FFF;
  border-radius: 20px;
  height: 340px;
  justify-content: flex-start;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.16);
}
.card_link:hover{
  box-shadow:  0px 0px 16px 5px rgba(0, 0, 0, 0.16);
}
.card_link img{
  border-radius: 20px 20px 0 0;
  width: 100%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  
}
.card_link a, .card_link span {
  padding: 5px 5px;
}
.card_link span {
  font-weight: 200;
}
.card_link p{
  font-size: 1.2rem;
  max-width: 300px;
  display: flex;
  justify-content: center;
}

.titleCard {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.card a {
  font-size: 0.8rem;
  color: #0E007C;
}


.card img {
  width: 300px;
}

.card i {
  font-size: 1.2rem;
  color: #0E007C;
}



@media (max-width: 1150px) {
  * {
    .container {
      margin: 0 auto;
      width: 1000px;
      max-width: 100%;
      max-height: 100%;
    }
    .NossasLojas {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 125px 0 125px 0;
      align-items: center;

    }

    .campoSobreNosText p {
      width: 400px;
      font-size: 14px;
      margin: 0 0 22px 0;
    }

    .NossasLojas img {
      width: 400px;
    }

    .campoSobreNos {
      justify-content: space-around;
    }

    .headerMain {
      width: 100%;
      height: 144px;
      background-color: var(--branco);
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }



    .noticias {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin: 80px 0 40px 0;
    }

    .alterarTamanhoSecond swiper-slide {
      width: 200px;
      height: 100%;
    }

    .cardMvv p {
      width: 260px;
      text-align: center;
    }

    .contactsFooter span {
      font-size: 14px;
    }
  }
  .FonteMain div {
    width: 240px;
    height: 6px;
    /* padding: 6px 240px; */
    background-color: #ff0000;
  }
  
  .FonteMain h2 {
    font-size: 44px;
    font-weight: 600;
    color: #0E007C;
  }
  .FonteMain {
    display: none;
    align-items: center;
    flex-direction: column;
  }
  
  .FonteMain h1 {
    font-size: 44px;
    font-weight: 600;
    color: #0E007C;
  }
  
  .FonteMain1 div {
    width: 240px;
    height: 6px;
    /* padding: 6px 240px; */
    background-color: #ff0000;
  }
  
  .FonteMain1 h2 {
    font-size: 44px;
    font-weight: 600;
    color: #0E007C;
  }
  
  .FonteMain1 h1 {
    font-size: 30px;
    font-weight: 600;
    color: #0E007C;
  }
  
  .FonteMain1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
  }
}

@media (max-width: 1000px) {
  * {
    .container {
      margin: 0 auto;
      width: 800px;
      max-width: 100%;
      max-height: 100%;
    }

    .campoSobreNosText p {
      width: 400px;
      font-size: 14px;
      margin: 0 0 22px 0;
    }
    .NossasLojas img {
      width: 600px;
      margin: 0px 0 180px 0;
    }

    .NossasLojas p,
    a {
      text-align: center;
    }

    .titleFornecedores {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .campoSobreNos {
      justify-content: space-around;
    }

    /*menu header computador*/
    .headerMain {
      display: none;
    }

    /*menu header celular*/

    .headerMobile {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
    }

    .headerMobile i {
      padding: 0 0 0 50px;
    }

    .headerMobile img {
      width: 130px;
      height: 75px;
    }

    .HeaderMainInfoMobile {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    .mobileMenuIcon {
      display: flex;
    }

    .mobileMenuIcon i {
      color: #0E007C;
      font-size: 32px;
      cursor: pointer;
    }

    .menuHeader {
      display: none;
      flex-direction: column;
      position: absolute;
      z-index: 10;
      top: 128px;
      background-color: #fff;
      align-items: end;
      width: 100%;
    }

    .menuHeader a {
      padding: 20px 20px;
      width: 100vw;
      justify-content: end;
    }

    .close {
      display: none;
    }

    /*fim menu header celular*/
    .LogoNorteAzul {
      padding: 10px 0;
    }

    .HeaderMainInfo nav {
      display: none;
    }

    .NossasLojas {
      display: flex;
      flex-direction: column-reverse;
    }

    .NossasLojasAbout {
      width: 600px;
      margin: 0 0 60px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      
    }

    .noticias {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      margin: 80px 0 40px 0;
      gap: 80px;
    }

    .alterarTamanhoSecond swiper-slide {
      width: 200px;
      height: 100%;
    }

    .cardMvv p {
      width: 260px;
      text-align: center;
    }

    .contactsFooter span {
      font-size: 14px;
    }

    .campoSobreNos {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
    }

    .campoSobreNosText {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .campoSobreNosText p {
      text-align: center;
      width: 600px;
    }

    .campoSobreNosText a {
      text-align: center;
      margin: 40px 0 40px 0;
    }

    .aboutNorte {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .aboutNorte p {
      text-align: center;
    }

    .footerMain {
      flex-direction: column;
      align-items: center;
    }

    .menuFooter {
      display: none;
    }

    .contactsFooter nav h1,
    .contactsFooter nav h2,
    .SocialMediaFooter {
      text-align: center;
    }

    .SocialMediaFooter {
      margin: 0 0 40px 0;
    }

  }

  @media (max-width: 800px) {
    .container {
      width: 600px;
    }

    .topo {
      z-index: 10;
    }

    .topo a {
      bottom: 40px;
      right: 60px;
    }

    .topoWhatsapp a {
      bottom: 120px;
      right: 60px;
    }

    .mvvCampo {
      flex-direction: column;
    }

    .mvv {
      background-image: url(public/img/Fornecedores/FundoMVV.svg);
      background-color: #031586;
      height: 1400px;
      margin: 0 0 80px 0;
    }

    .valores {
      margin: 30px 0 0 0;
    }

    .visao img {
      width: 150px;
      margin: 30px 0 30px 0;
    }

    .campoSobreNosText p {
      width: 450px;
    }

    .NossasLojasAbout {
      width: 450px;
    }

    .alterarTamanhoSecond img {
      width: 450px;
      height: 450px;
    }

    .alterarTamanhoSecond {
      max-width: 450px;
      max-height: 450px;
    }

    .noticias {
      grid-template-columns: 1fr;
    }


    .HeaderMainInfo nav {
      display: none;
      flex-direction: column;
    }

  }

  @media (max-width: 500px) {
    .container {
      width: 365px;
    }

    .alterarTamanho img {
      width: 85%;
    }

    @media (max-width: 450px) {
      .container {
        width: 350px;
      }

      .alterarTamanho img {
        width: 85%;
      }

      .NossasLojasAbout p {
        width: 320px;
      }

      .NossasLojas img {
        width: 320px;
      }

      .footerMain p {
        width: 320px;
        margin: 40px 0 0 0;
        color: #fff;
      }

      .campoSobreNosText p {
        width: 300px;
      }

      .alterarTamanhoSecond img {
        width: 320px;
        height: 320px;
      }

      .alterarTamanhoSecond {
        max-width: 320px;
        max-height: 320px;
      }

      .footerMain p {
        width: 280px;
        margin: 40px 0 0 0;
        color: #fff;
      }

      .NossasLojasAbout {
        width: 300px;
      }

      /*Apagar depois*/
      .alterarTamanhoMain {
        width: 100%;
        /* height: 500px; */
      }

    }
  }
}

