* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --HeaderFisrt: #00041f;
  --LogoColor: #0e007c;
  --textHeader: #626262;
  --branco: #fff;
}
.topo{
  width: 50px;
  height: 50px;
  background-color: #27ae60;
  position: fixed;
  bottom: 40px;
  right: 40px;
  align-items: center;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.irParaInicio i{
  color: #fff;
  font-size: 30px;
}


/* fonte padrao */
.FonteMain div {
  width: 240px;
  height: 6px;
  /* padding: 6px 240px; */
  background-color: #ff0000;
}

.FonteMain h2 {
  font-size: 44px;
  font-weight: 600;
  color: #0E007C;
}

/* <div class="FonteMain">
      <h2>Nossas Lojas</h2>
      <div></div>
    </div> */


/* Telas maiores que 1280px*/
.container {
  margin: 0 auto;
  width: 1180px;
  max-width: 100%;
  max-height: 100%;
}

body {
  height: 100%;
  width: 100%;
}

/* Tela de Header Onde aparece as informações de contato*/
.header {
  background-color: var(--HeaderFisrt);
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
}

.contacts,
.SocialMedia {
  display: flex;
  flex-direction: row;
  gap: 20px;
  display: flex;
  justify-content: center;
}

.headerFirst {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.headerFirst p,
i,
a {
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  font-weight: normal;
}

.headerFirst a {
  display: flex;
  gap: 8px;
}

.headerFirst i {
  font-size: 20px;
}

.headerFirst>.SocialMedia i {
  font-size: 26px;
}

/*Header*/

.headerMain {
  width: 100%;
  height: 144px;
  background-color: var(--branco);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.HeaderMainInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.LogoNorteAzul {
  width: 308px;
  height: 119px;
}

.HeaderMainInfo,
.MenuHeader a {
  color: var(--textHeader);
  gap: 24px;
}

/*NAV*/

.MenuHeader a {
  padding: 0 24px;
  font-weight: 600;
}

.MenuHeader a:hover {
  color: #00041F;
  text-decoration: underline;
}

/*Footer*/
footer {
  background-color: #00041F;
}

.footerMain {
  background-color: #00041F;
  margin: 80px 0 0 0;
  height: 700px;
  display: flex;
  justify-content: space-between;
}


.footerMain img {
  width: 300px;
  margin: 80px 0 0 0;
}

.footerMain p {
  width: 400px;
  text-align: justify;
  margin: 40px 0 0 0;
  color: #fff;
}

.menuFooter nav {
  display: flex;
  flex-direction: column;
  margin: 80px 0 0 0;
}

.menuFooter nav a {
  color: #C3C3C3;
  padding: 36px 0 0 0;
  font-size: 16px;
}

.menuFooter nav a:hover {
  color: #fff;
}

.menuFooter nav h1 {
  color: #fff;
}

.contactsFooter nav {
  display: flex;
  flex-direction: column;
  margin: 80px 0 0 0;
}

.contactsFooter span {
  color: #C3C3C3;
}

.contactsFooter span:hover {
  color: #fff;
}

.contactsFooter nav a {
  color: #C3C3C3;
  padding: 36px 0 0 0;
  font-size: 16px;
}

.contactsFooter nav h1,
.contactsFooter nav h2 {
  color: #fff;
  font-size: 20px;
}

.contactsFooter nav h2 {
  margin: 35px 0 0 0;
}

.SocialMediaFooter i {
  font-size: 40px;
  padding: 25px 25px 0 0;
}

.SocialMediaFooter i:hover {
  color: #e2e2e2;
}

.diretosReservadosFooter {
  background-color: #000212;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

/* Nossas Lojas */

.NossasLojas {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 125px 0 125px 0;
  align-items: center;
}

.NossasLojas img {
  width: 500px;
}

.NossasLojasAbout {
  width: 600px;
  margin: 0 0 0 100px;
}

.NossasLojasAbout h2 {
  font-size: 44px;
  font-weight: 600;
  color: #0E007C;

}

.NossasLojasAbout p {
  margin: 60px 0;
  font-size: 20px;
}

.NossasLojasAbout a {
  width: 325px;
  background-color: #0e007c;
  padding: 13px 60px;
  border-radius: 10px;
}

.NossasLojasAbout a:hover {
  background-color: #090054;
}