@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  max-height: 100%;
  font-family: 'Poppins', sans-serif;

}

.container {
  margin: 0 auto;
  width: 1180px;
  max-width: 100%;
  max-height: 100%;
}

.secMap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}


.btnHeaderLojas {
  background-color: transparent;
  border: none;
}

/**/

.mapa {
  margin-top: 40px;
  height: 100%;
}

.FonteMain {
  margin: 0 0 10px 0;
}

.FonteMain p {
  padding: 20px 0 0;
}

footer {
  margin: 400px 0 0 0;
}

.secCard {
  display: flex;
  flex-direction: column;
  width: 550px;
  height: 800px;
  margin: 0 0 100px 0;
  overflow-y: scroll;
}

.secCard {
  scrollbar-width: thin;
  scrollbar-color: #fff #141414;

}

.secCard::-webkit-scrollbar {
  width: 9px;
}

.secCard::-webkit-scrollbar-track {
  background: #ffffff;
}

.secCard::-webkit-scrollbar-thumb {
  background-color: #141414;
  border-radius: 20px;
  border: 2px solid #141414;
}


.cardMapa {
  display: none;
  padding: 10px 15px;
  margin: 10px 0;
  border-radius: 16px;
  background-color: #f5f5f5;
  width: 600px;
  align-items: center;
}

.cardMapa:hover {
  background-color: #f0f0f0;
}

.cardLojasInformacao {
  padding: 0 16px;
}

.cardLojasInformacao h2 {
  color: #00041F;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.cardLojasInformacao a {
  color: #000;
}

.title {
  padding: 0 0 10px 0;
}

.cardMapa {
  display: none;
  flex-direction: row;
}

.cardMapa img {
  width: 150px;
  height: 150px;
  border-radius: 16px;
  object-fit: cover;
}
.cardMapa img:hover {
  transform: scale(1.02 , 1.02);
  transform-origin: left;
}

.cardLojasContatos {
  display: flex;
  padding: 0 0 10px 0;
}

.cardLojasContatos .whatsapp,
.cardLojasContatos .telefone {
  padding: 0 0px 0 10px;
  font-size: 14px;
  color: #0E007C;
}

.cardLojasContatos .whatsapp:hover,
.cardLojasContatos .telefone:hover {
  text-decoration: underline;
}

.segmentacao, .segmentacao2 {
  width: 110px;
  display: flex;
  justify-content: center;
  border-radius: 24px;
  color: #fff;
}

.segmentacao span {
  font: 900;
}

.segmentacaoLoja {
  display: flex;
  gap: 20px;
  padding: 0 0 15px 0;
}