@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
  max-height: 100%;
  font-family: 'Poppins', sans-serif;

}

svg {
  width: 50%;
}

#AM,
#AP,
#RO,
#PA,
#RR,
#MG,
#MA,
#AC,
#BA {
  fill: #141F58;
}

#AM:hover,
#AP:hover,
#RO:hover,
#PA:hover,
#RR:hover,
#MG:hover,
#MA:hover,
#AC:hover,
#BA:hover {
  fill: #1d308d;
}

#text {
  width: 350px;
  height: auto;
  text-align: left;
  color: black;
  text-shadow: 1px 1px 1px #FFFFFF;
}
.nordeste,
.sul,
.centro-oeste,
.sudeste {
  fill: #3355D0;
}

path {
  fill: #3355D0;
  stroke: white;
  stroke-width: 1px;
}


.secMap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}


.btnHeaderLojas {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/**/

.mapa {
  margin-top: 40px;
  height: 100%;
}

.FonteMain {
  margin: 0 0 10px 0;
}
.FonteMain p{
  padding: 20px 0 0;
}

footer {
  margin: 200px 0 0 0;
}

.secCard {
  display: flex;
  flex-direction: column;
  width: 550px;
  height: 800px;
  margin: 0 0 100px 0;
  overflow-y: scroll;
}
.secCard {
  scrollbar-width: thin;
  scrollbar-color: #fff #141414;

}

.secCard::-webkit-scrollbar {
  width: 9px;
}

.secCard::-webkit-scrollbar-track {
  background: #ffffff;
}

.secCard::-webkit-scrollbar-thumb {
  background-color: #141414;
  border-radius: 20px;
  border: 2px solid #141414;
}


.cardMapa {
  display: none;
  padding: 10px 10px;
  margin: 10px 0;
  border-radius: 16px;
  cursor: pointer;
  background-color: #ffffff;
  width: 600px;
  align-items: center;
}

.cardMapa:hover {
  background-color: #f0f0f0;
}

.cardLojasInformacao {
  padding: 0 16px;
}

.cardLojasInformacao h2 {
  color: #00041F;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.title {
  padding: 0 0 10px 0;
}

.cardMapa {
  display: none;
  flex-direction: row;
}

.cardMapa img {
  width: 200px;
  height: 200px;
  border-radius: 16px;
  object-fit: cover;
}

.cardLojasContatos {
  display: flex;
  padding: 12px 0;
}

.cardLojasContatos .whatsapp, .cardLojasContatos .telefone {
  padding: 0 0px 0 10px;
  font-size: 14px;
  color: #0E007C;
}

.cardLojasContatos i {
  color: #60D669;
  font-size: 20px;
  padding: 0 10px 0 0;
}